*{
  box-sizing: border-box;
}
html{
  height: 100vh;
}
body{
  background: #065143;
}
#board{
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.sqr{
  color: #ABD1B5;
    font-size: 5em;
    display: flex ;
    align-items: center;
    justify-content: center;
  float: left;
  width:32%;
  height: 32%;
  margin: calc(4% / 6);
  background: #337065;
}
.sqr:hover{
  background: #79B791;
}
