@import url('https://fonts.googleapis.com/css?family=Orbitron:500|Roboto');

*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background: url(../img/tools-864983_1920.jpg) fixed center;
  background-size: cover;
  color: #fff07c;
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
}

#container{
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #3D405Bdd;
  padding: 10px;
  position: relative;

}

.img{
  width: 100px;
  margin: 15px;
}
.logo{
  font-size: 2.72em;
  font-family: 'Orbitron', sans-serif;
  color: #f4f1de;
  width: 100%;
  text-align: center;
}
.orange{
  color: #ff6b35;
}
h2{
  color: #e07a5f;
  font-size: 3em;
}
.col{
  width: 100%;
  font-size: 9px;
  padding: 0 20px;
}
.col:nth-child(3) p{
  line-height: 24px;
}
.stopka{
  padding-top: 10px;
  color: #f4f1de;
  text-align: center;
  font-size: 1em;
  clear: both;
}
.material-icons{
  margin-right: 10px;
  display: inline-flex;
    vertical-align: top;
}
@media (min-width: 450px) {
  #container{
    padding: 15px;
  }
  .logo{
    font-size: 3em;
  }
  .img{
    width: 150px;
  }
  .col{
    font-size: 10px;
  }
}
@media (min-width: 750px) {
  #container{
    width: 80%;
    max-width: 1500px;
    height: 90%;
    max-height: 650px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
  }
  .img{
    width: 250px;
  }
  .col:nth-child(2){
    display: none;
  }
  .col{
    width: calc(100% / 2);
    float: left;
    font-size: 11px;
  }
  .col:nth-child(3){
    float: right;
  }
}
@media (min-width: 950px) {
  #container{
    max-height: 700px;
    }
  .img{
    width: 300px;
  }

}
@media (min-width: 1050px) {

  .col:nth-child(2){
    display: block;
  }
  .col{
    width: calc(100% / 3);
    float: left;
    font-size: 12px;
  }
}
