@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|VT323&display=swap');


*{
	font-family: 'Roboto Mono', sans-serif;
	box-sizing: border-box;
	text-align: center;
}
button{
	background: none;
	border: none;
	color: #5FAD41;
	font-family: 'VT323', monospace;
}
html, body{
	width: 100vw;
	height: 100vh;
}
body{
	margin: 0;
	color: #5FAD41;
	background-color: #000;
}
a{
	position: relative;
	color: #427AA1;
	transition: color .2s ease-in-out;
	text-decoration: none;
}
a::after{
	content: '>';
	position: absolute;
	top: 0; right: -10px;
	transform: translate(-10px, 0);
	transition: .2s transform ease-in-out, .2s opacity ease-in-out;
	opacity: 0;
}
a:hover{
	color: #5EADDC;
}
a:hover::after, a:focus::after{
	transform: translate(0, 0);
	opacity: 1;
}
a:active::after{
	transform: translate(10px, 0);
	opacity: 1;
}
.title{
	font-family: 'VT323', monospace;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2px;
	border-bottom: 3px dashed #5FAD41;
}
.header{
	height: 15%;
	font-size: 2.5em;
	border: none;
}

.col > div{
	display: flex;
	flex-flow: column;
	width: 100%;
	padding: 0 20px;
	overflow: auto;
	margin-bottom: 10px;
}
.col > div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.col > div::-webkit-scrollbar-track {
  background-color: rgba(26, 48, 18, 1);
}
.col > div::-webkit-scrollbar-thumb {
  background-color: #5FAD41;
}
.col > div .title{
	margin: 0 0 10px 0;

}
.col > div .article{
	flex-grow: 1;
	max-height: calc(100% - 55px)
}
.article > img{
	width: 100%;
	object-fit: cover;
}
.timeStemp{
	font-size: .9em;
	padding: 1px 3px;
  margin: 0 5px 0 0;
  background-color: #CE4257;
  color: #fff;
  width: 95px;
}
.item{
	display: inline-block;
	margin: 0 0 15px 0;
}
.list{
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
.newsList{
	list-style-image: url(../img/icon.png);
}
.musicList{
	list-style-image: url(../img/music_icon.png);
	line-height: 1.5;
}
.article > .col{
	height: 100%;
}
.article > .col > .title{
	border: none;
  font-size: 1.8em;
}
.weatherDes{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.weatherDes > img{
	margin-top: 20px;
	width: 50%;
	max-width: 100px;
}
.weatherDes > .temp{
	text-transform: uppercase;
	font-family: 'VT323', monospace;
	font-size: 3em;
	margin: 15px 0 0;
}
.weatherDes > .day{
	font-size: 1.2em;
	margin: 5px 0 0;
}
.weatherDes > .con{
	margin: 0 0 5% 0;
	text-transform: lowercase;
}

.galleryOpener{
	font-size: 1.2em;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.galleryOpener::before,
.galleryOpener::after {
  box-sizing: inherit;
	content: '';
  position: absolute;
	border: 6px solid transparent;
  width: 0;
  height: 0;
}
.galleryOpener::before{
	top: 0;
	left: 0;
}
.galleryOpener::after{
	bottom: 0;
  right: 0;
}
.galleryOpener:hover::before,
.galleryOpener:hover::after {
  width: calc(100%);
  height: calc(100%);
}
.galleryOpener:hover::before {
    border-top-color: #5FAD41;
    border-right-color: #5FAD41;
    transition:
      width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }
.galleryOpener:hover::after {
    border-bottom-color: #5FAD41;
    border-left-color: #5FAD41;
    transition:
      border-color 0s ease-out 0.5s,
      width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
  }
.gallerymin{
	width: 70%;
	max-height: 60%;
	object-fit: scale-down;
}
.des{
	float: right;
  width: calc(100% - 98px);
	text-align: left;
}

.galleryModal{
	background: #000000dd;
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transition: .2s opacity ease-in-out;
	opacity: 0;
}
.counter{
	font-size: 36px;
  font-family: 'VT323';
  margin: 0 0 30px;
}
.close{
	font-size: 48px;
	transition: .3s color ease-in-out;
	position: absolute;
	top: 0; right:0;
	margin: 30px;
}
.close:hover, .galleryNav:hover{
	color: #8AC374;
}
.galleryNav{
	font-size: 65px;
	margin: 30px;
	transition: .3s color ease-in-out;
}
.show {
	visibility: visible;
	opacity: 1;
}
.galleryContent {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	min-width: 650px;
	display: flex;
  flex-flow: column;
}
.wrapper{
	display: flex;
	align-items: center;
}
.galleryModal .galleryContent {
	transform: translate(-50%, 20%);
	opacity: 0;
	transition: all 0.3s;
}
.show.galleryModal .galleryContent {
	transform: translate(-50%, -50%);
	opacity: 1;
}
.slide img{
	width: 100%;
	max-height: 80vh;
	object-fit: scale-down;
}
.slide{
	display: none;
	width: calc(100% - 142px);
}
.slide.open{
	display: inline-block;
}
.footer{
	clear: both;
	margin: 5px;
	height: 19px;
	font-size: 14px;
}
@media (min-width: 48em){
	.title{
		font-size: 2.5em
	}
	.header{
		font-size: 3.5em
	}
	.col{
		height: calc(85% - 29px);
		width: 50%;
		float: left;
	}
	.aktu{
		height: calc(40% - 10px);
	}
	.pogo{
		height: calc(60% - 10px);
	}
	.sport{
		height: calc(35% - 10px);
	}
	.muzyka{
		height: calc(20% - 10px);
	}
	.galeria{
		height: calc(45% - 10px);
	}
	.article > img{
		float: left;
		width: 30%;
		height: 100%;
		margin: 0 15px 0 0;
	}
	.item{
		width: calc(70% - 15px);
		margin: 0 0 15px;
	}
}
